html,
body{
  height:100%;
}

body{
    display:flex;
   border:hidden;
}
.flex img {
    width: 100%;
    border: hidden;
}

.flex {
    margin-left: 1%;
    border: hidden;
    height: 20%;
    margin-top: 1%;
}
    .flex .image {
        border: hidden;
        margin-right: 0.6em;
        position: relative;
        background-color: #444;
        box-shadow: 1px 2px 10px #444;
        transition: all 0.9s ease;
        overflow: hidden;
    }
.social-icons{
    position:absolute;
 
    bottom:0%;
    left:0%;
    width:100%;
    height:30%;
    padding-right:1.4em;
    background-color:lightcyan;
    transform:translateY(100px);
    transition: transform 0.8s ease;
}

.social-icons i{
    font-size:25px;
    padding:0.2em;
    float:right;
    color:#444;
    overflow:hidden;
}

.social-icons i:hover{
    color:lightcoral;
}

.flex .image:hover .social-icons{
    transform:rotate(-10deg)translateY(40px);
}
.image:hover img{
    
    
    transform:scale(1.2);
}